<h4 class="text-success text-center my-3">Colors</h4>
<ul class="list-group text-center">
  <li
    class="list-group-item"
    role="button"
    routerLink="cars"
    (click)="isAllColors = true"
    [class.active]="isAllColors"
  >
    All Colors
  </li>
  <li
    class="list-group-item"
    [class.active]="isSelectedColor(color) && !isAllColors"
    role="button"
    *ngFor="let color of colors"
    (click)="setSelectedColor(color); isAllColors = false"
    routerLink="cars/color/{{ color.id }}"
  >
    {{ color.name }}
  </li>
</ul>
