<div class="login-form my-bg-gradient-dark">
  <main class="form-signin w-100 m-auto">
    <div class="sport-car-img mx-auto">
      <img
        src="../../../../assets/images/sport-car.png"
        alt="sport-car"
        class="w-100"
      />
    </div>
    <form>
      <h1 class="h3 mb-3 fw-normal text-white">Log in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingSigninEmail"
          placeholder="name@example.com"
        />
        <label for="floatingSigninEmail">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingSigninPassword"
          placeholder="Password"
        />
        <label for="floatingSigninPassword">Password</label>
      </div>

      <div class="checkbox my-3 text-white">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button
        class="w-100 btn btn-lg btn-outline-light my-3"
        type="button"

      >
        Log in
      </button>
      <p class="text-light mt-3">
        Need an account?
        <a class="link-danger" role="button" routerLink="/signup">sign up</a>
      </p>
    </form>
  </main>
</div>
