<h4 class="text-success text-center mb-3">Brands</h4>
<ul class="list-group text-center">
  <li
    class="list-group-item"
    role="button"
    routerLink="cars"
    (click)="isAllBrands = true"
    [class.active]="isAllBrands"
  >
    All Brands
  </li>
  <li
    class="list-group-item"
    [class.active]="isSelectedBrand(brand) && !isAllBrands"
    role="button"
    *ngFor="let brand of brands"
    (click)="setSelectedBrand(brand); isAllBrands = false"
    routerLink="cars/brand/{{ brand.id }}"
  >
    {{ brand.name }}
  </li>
</ul>
