<nav
  class="navbar navbar-expand-lg navbar-dark my-bg-gradient-dark border-bottom"
>
  <div class="container-fluid p-3">
    <a role="button" class="navbar-brand h1 mb-0">Dream Car</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto">
        <a
          role="button"
          class="nav-item nav-link underlined"
          routerLink="/home"
        >
          Home
        </a>
        <div class="dropdown">
          <a
            role="button"
            class="nav-item underlined nav-link dropdown-toggle text-danger"
            *ngIf="isAdmin()"
            data-bs-toggle="dropdown"
          >
            Managment
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li
              class="dropdown-item text-light"
              role="button"
              routerLink="/admin/management/cars"
            >
              Car Management
            </li>
            <div class="dropdown-divider border-light"></div>
            <li
              class="dropdown-item text-light"
              role="button"
              routerLink="/admin/management/car-image"
            >
              Car Image Management
            </li>
            <div class="dropdown-divider border-light"></div>
            <li
              class="dropdown-item text-light"
              role="button"
              routerLink="/admin/management/colors"
            >
              Color Management
            </li>
            <div class="dropdown-divider border-light"></div>
            <li
              class="dropdown-item text-light"
              role="button"
              routerLink="/admin/management/brands"
            >
              Brand Management
            </li>
            <div class="dropdown-divider border-light"></div>
            <li
              class="dropdown-item text-light"
              role="button"
              routerLink="/admin/management/models"
            >
              Model Management
            </li>
          </ul>
        </div>
      </div>
      <ng-template [ngTemplateOutlet]="navbarRight"></ng-template>
    </div>
  </div>
</nav>

<ng-template #navbarRight>
  <ng-container *ngIf="!user">
    <div class="navbar-nav justify-self-end">
      <a role="button" class="nav-item nav-link underlined" routerLink="/login">
        Log in
      </a>
      <a
        role="button"
        class="nav-item nav-link rounded text-bg-success signup"
        routerLink="/signup"
      >
        Sign up
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="user">
    <div class="navbar-nav justify-self-end">
      <div class="nav-item text-light dropdown dropdown-toggle underlined me-2">
        <a
          role="button"
          class="text-light"
          data-bs-toggle="dropdown"
          data-bs-auto-close="inside"
        >
          <fa-icon [icon]="profileIcon" class="me-1"></fa-icon>
          {{ user.firstName }} {{ user.lastName
          }}<span *ngIf="isAdmin()" class="text-danger mx-1">(Admin)</span>
        </a>

        <ul
          class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-menu-profile"
        >
          <li class="dropdown-item" role="button" routerLink="/profile">
            Go profile
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" role="button" (click)="signout()">
            Sign out
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</ng-template>
