.nav-item {
  text-align: center;
  padding-block: 0.3rem;
  margin-block: 0.1rem;
}

.underlined:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

@media screen and (min-width: 1000px) {
  .nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .signup {
    transition: opacity 0.1s ease-in-out;
  }
  .signup:hover {
    opacity: 0.85;
  }
}
