<nav
  class="navbar navbar-expand-lg navbar-dark my-bg-gradient-dark border-bottom"
>
  <div class="container-fluid p-3">
    <a role="button" class="navbar-brand h1 mb-0">Dream Car</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto">
        <a
          role="button"
          class="nav-item nav-link underlined"
          routerLink="/home"
        >
          Home
        </a>
      </div>
      <div class="navbar-nav justify-self-end">
        <a
          role="button"
          class="nav-item nav-link underlined"
          routerLink="/login"
          >Log in</a
        >
        <a
          role="button"
          class="nav-item nav-link rounded text-bg-success signup"
          routerLink="/signup"
        >
          Sign up
        </a>
      </div>
    </div>
  </div>
</nav>
