<ng-container *ngIf="carByDetails">
  <div class="container">
    <div class="my-5">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          <div
            id="carCarousel"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner rounded">
              <ng-container
                *ngFor="let carImagePath of carByDetails.imagePaths"
              >
                <div class="carousel-item active">
                  <img
                    [src]="apiCarImagesUrl + carImagePath"
                    class="d-block w-100"
                    [alt]="carByDetails.carDescription"
                  />
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <table class="table table-black table-striped table-hover mb-5">
            <tbody class="text-center">
              <tr>
                <td class="text-danger fw-bolder border-end">BRAND</td>
                <td class="text-primary">
                  {{ carByDetails.brandName | uppercase }}
                </td>
              </tr>
              <tr>
                <td class="text-danger fw-bolder border-end">MODEL</td>
                <td class="text-primary">
                  {{ carByDetails.brandName | uppercase }}
                </td>
              </tr>
              <tr>
                <td class="text-danger fw-bolder border-end">MODEL YEAR</td>
                <td class="text-primary">{{ carByDetails.modelYear }}</td>
              </tr>
              <tr>
                <td class="text-danger fw-bolder border-end">DAILY PRICE</td>
                <td class="text-primary">
                  {{ carByDetails.dailyPrice | currency }}
                </td>
              </tr>
              <tr>
                <td class="text-danger fw-bolder border-end">DESCRIPTION</td>
                <td class="text-primary">
                  {{ carByDetails.carDescription | uppercase }}
                </td>
              </tr>
            </tbody>
          </table>
          <ng-container>
            <div class="card">
              <div class="card-header">
                <h5 class="text-center card-title mb-0">Rental Details</h5>
              </div>
              <div class="card-body">
                <form [formGroup]="rentForm">
                  <div class="row">
                    <div class="form-group text-center col-md-6">
                      <label class="my-2">Rent Date</label>
                      <input
                        type="text"
                        class="form-control"
                        [value]="dateNow | date : 'MM.dd.yyyy'"
                        disabled
                      />
                    </div>
                    <div class="form-group text-center col-md-6">
                      <label class="my-2">Return Date</label>
                      <input
                        type="date"
                        class="form-control"
                        id="datePicker"
                        formControlName="returnDate"
                        (change)="getTotalDays()"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <div class="d-flex align-items-center py-2">
                  <div>
                    <div>
                      Rent Date:
                      <span class="text-success">
                        {{ dateNow | date : "MM.dd.yyyy" }}
                      </span>
                    </div>
                    <div>
                      Return Date:
                      <span class="text-success">
                        {{ rentForm.value.returnDate | date : "MM.dd.yyyy" }}
                      </span>
                    </div>
                  </div>
                  <div class="ms-auto">
                    <button
                      class="btn btn-dark"
                      [class.disabled]="!totalDays"
                      routerLink="/payment"
                      (click)="addRentalDetailsToSessionStorage()"
                    >
                      Rent
                      <span *ngIf="totalDays">
                        ({{ carByDetails.dailyPrice * totalDays | currency }})
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
