<div class="login-form my-bg-gradient-dark">
  <main class="form-signin w-100 m-auto">
    <div class="sport-car-img mx-auto">
      <img
        src="../../../../assets/images/sport-car.png"
        alt="sport-car"
        class="w-100"
      />
    </div>
    <form [formGroup]="signupForm">
      <h1 class="h3 mb-3 fw-normal text-white">Sign up</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingFirstName"
          placeholder="First Name"
          formControlName="firstName"
        />
        <label for="floatingFirstName">First Name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingLastName"
          placeholder="Last Name"
          formControlName="lastName"
        />
        <label for="floatingLastName">Last Name</label>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingSignupEmail"
          placeholder="Email Address"
          formControlName="email"
        />
        <label for="floatingSignupEmail">Email Address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingSignupPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingSignupPassword">Password</label>
      </div>
      <button
        class="w-100 btn btn-lg btn-outline-light my-3"
        type="button"
        (click)="signup()"
      >
        Sign up
      </button>
      <p class="text-light mt-3">
        Already have an account?
        <a class="link-danger" role="button" routerLink="/login">log in</a>
      </p>
    </form>
  </main>
</div>
