<h4 class="text-success text-center mb-3">Rentals</h4>
<table class="table table-bordered table-light table-hover text-center">
  <thead>
    <tr>
      <th>RentalId</th>
      <th>BrandName</th>
      <th>CustomerFullName</th>
      <th>RentDate</th>
      <th>ReturnDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentalsByDetails">
      <td>{{ rental.rentalId }}</td>
      <td>{{ rental.carDescription }}</td>
      <td>{{ rental.customerFullName }}</td>
      <td>{{ rental.rentDate | date }}</td>
      <td>{{ rental.returnDate | date }}</td>
    </tr>
  </tbody>
</table>

