<div class="row justify-content-center gap-4">
  <app-filter-brand-color #filterBrandColor></app-filter-brand-color>
  <div
    class="card col-md-3 px-0"
    *ngFor="
      let car of carsByDetails
        | filterColor : filterBrandColor.colorFilterText
        | filterBrand : filterBrandColor.brandFilterText
    "
  >
    <img
      src="http://localhost:5304/{{ car.imagePaths[0] }}"
      class="card-img-top"
      style="height: 190px; object-fit: cover; object-position: center"
    />
    <div class="card-body text-center">
      <h5 class="card-title">{{ car.brandName }}</h5>
      <p class="card-text">
        {{ car.carDescription }}
      </p>
    </div>
    <div class="card-footer text-center">
      <a
        class="btn btn-outline-success btn-sm"
        routerLink="/cars/car-detail/{{ car.carId }}"
        >Go Details</a
      >
    </div>
  </div>
</div>
