body {
  min-height: 100vh;
}

.my-bg-gradient-dark,
body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

img {
  width: 100%;
  object-fit: cover;
}
