html,
body {
  height: 100%;
}
.my-bg-gradient-dark,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
