<div class="card">
  <div class="card-header">
    <h5 class="title text-center">Car Add Form</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="carAddForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group text-uppercase my-3">
            <label for="brandId" class="mb-2 d-block text-center fw-bolder">
              Brand
            </label>
            <select
              class="form-select"
              formControlName="brandId"
              *ngIf="brands"
              id="brandId"
            >
              <option selected ngValue="" disabled class="text-center">
                BRANDS
              </option>
              <hr class="hr" />
              <option *ngFor="let brand of brands" [ngValue]="brand.id">
                {{ brand.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-uppercase my-3">
            <label for="colorId" class="mb-2 d-block text-center fw-bolder">
              Color
            </label>
            <select
              class="form-select"
              formControlName="colorId"
              *ngIf="colors"
              id="colorId"
            >
              <option selected ngValue="" disabled class="text-center">
                COLORS
              </option>
              <hr class="hr" />
              <option
                *ngFor="let color of colors"
                [ngValue]="color.id"
                class="text-capitalize"
              >
                {{ color.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group text-uppercase my-3">
            <label for="dailyPrice" class="mb-2 d-block text-center fw-bolder">
              Daily Price
            </label>
            <input
              type="number"
              class="form-control"
              id="dailyPrice"
              placeholder="daily price ($)"
              formControlName="dailyPrice"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-uppercase my-3">
            <label for="modelYear" class="mb-2 d-block text-center fw-bolder">
              Model Year
            </label>
            <select
              class="form-select"
              formControlName="modelYear"
              *ngIf="years"
              id="modelYear"
            >
              <option selected ngValue="" disabled class="text-center">
                MODEL YEAR
              </option>
              <hr class="hr" />
              <option
                *ngFor="let year of years"
                [ngValue]="year"
                class="text-capitalize"
              >
                {{ year }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group text-uppercase my-3">
        <label for="description" class="mb-2 d-block text-center fw-bolder">
          Description
        </label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="description"
          formControlName="description"
        />
      </div>
    </form>
    <div class="card-footer">
      <button type="button" class="btn btn-dark d-grid mx-auto" (click)="add()">
        Add
      </button>
    </div>
  </div>
</div>
